{% extends 'template.html' %}
{% block title %} Home {% endblock title%}
{% block body %}
<div class="d-flex h-100 text-center text-bg-dark" style="padding:304px">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>Онлайн-парсер сайта М.Видео</h1>
    <p class="lead">Данный сайт позволит посмотреть на планшеты имеющиеся на сайте М.Видео, их цены, скидочные цены и бонусы за покупку</p>
    <p class="lead">
      <a href="/parser" class="btn btn-lg btn-light fw-bold border-white bg-white">Посмотреть</a>
    </p>
  </main>

</div>
</div>








{% endblock %}